.color {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
}

.flex-positions {
    display: flex;
    justify-content: space-around;
}

.card-title,
.card-text {
    text-align: center;
}

.card-price-view {
    display: flex;
    justify-content: space-between;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.section-contact {
    display: flex;
    justify-content: center;
}

.contact {
    padding-top: 30px;
    padding-bottom: 150px;
    width: 700px;
}

.btn-form {
    display: flex;
    justify-content: flex-end;
}

.table-stats {
    background-color: white;
}

.container-title {
    background-color: #34a558;
}

.details {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.description {
    padding-top: 3rem;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.body-details {
    border-radius: 0%;
    background-color: rgb(67, 214, 165);
}